@model IEnumerable<MVC.Models.TaskReview>
@{
    ViewData["Title"] = "GetReviewList";
}

<h1 style="color: black; font-family: Cambria ; position:center">Review List</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@

<table class="table" style="background-color:aliceblue;">
    <thead style="background-color: cornflowerblue">
        <tr style="color:antiquewhite">
            <th>
                @Html.DisplayNameFor(model => model.ReviewId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TD.Title)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.TD.description)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="font-weight:600">
                    @Html.DisplayFor(modelItem => item.ReviewId)
                </td>
                <td style="font-weight:600">
                    @Html.DisplayFor(modelItem => item.TD.Title)
                </td>
                <td style="font-weight:600">
                    @Html.DisplayFor(modelItem => item.TD.description)
                </td>
                <td style="font-weight:600">
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td style="font-weight:600">
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td style="font-weight:600">
                    @Html.DisplayFor(modelItem => item.ToDoId)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                    @*@Html.ActionLink("Details", "GetTaskReviewbytheirID", new { /* id=item.PrimaryKey */ }) |*@
                    @*@Html.ActionLink("ToDo", "GetToDoList", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>

</table>
<a style="color: black; font-family: Cambria ; position:center">
    click below to view tasks
</a>
<p>
    <a asp-action="GetToDoList">TaskList</a>
</p>
